<%= stylesheet_link_tag 'gg_issue_list.css', :plugin => 'gg_issue_list' %>
<% component_props = {project: @project,tracker: @tracker,s_tracker:@s_tracker,status: @status,custom_fields:@custom_fields,trackermenu:@trackermenu} %>
<%= react_component("IssueList60", props: component_props, prerender: false) %>