<%= stylesheet_link_tag 'gg_issue_list.css', :plugin => 'gg_issue_list' %>
<% component_props = {project: @project,tracker: @tracker,f_tracker:@f_tracker,status: @status,custom_fields:@custom_fields,trackermenu:@trackermenu} %>
<%= react_component("IssueList58", props: component_props, prerender: false) %>