<%= stylesheet_link_tag 'gg_issue_list.css', :plugin => 'gg_issue_list' %>
<% component_props = {project: @project,subject:@subject} %>
<%= react_component("IssueListSubject", props: component_props, prerender: false) %>